$theme: #DFC991
$compliment: #555555
$text: #2d2203

body
  margin: 0
  padding: 0
  background-color: #cccccc
  font-family: "Raleway", sans-serif
  a
    color: $text

#name
  font-weight: lighter
  font-size: 5em
  font-family: "Raleway", sans-serif

.content
  margin: 0
  padding: 0

.highlights
  background-color: white
  margin: 0
  padding: 30px
  color: $compliment
  text-align: center
  h1
    font-size: 2em
    text-align: center
  p
    font-size: 1.5em

.content-body
  width: 50%
  display: block
  box-shadow: 2px 10px 50px 1px gray
  margin: 0 auto 20px

.skills
  background-color: white
  p
    text-align: left
    margin: 0 auto
    display: block
    padding: 10px
    font-size: 1.7em

.examples
  color: #1b5f6d

.art
  color: #295461

.projects
  background-color: white
  padding: 0
  .tagline
    font-size: 1.2em
    width: 80%
    margin: 0 auto
  a
    text-decoration: none
    margin: 0
    display: inline-block
    position: relative
  .project
    width: 400px
    height: 450px
    display: inline-block
    vertical-align: middle
    margin-top: 20px
    margin-right: 20px
    h2
      color: $text
      border-bottom: 3px solid $compliment
      padding: 5px
      margin-top: 0
    .project-img
      max-width: 200px
      max-height: 200px
    .proj-desc
      text-align: left
      width: 380px
      margin: 0 auto
      padding: 10px

.about
  margin: 0 auto
  display: block
  text-align: center
  color: $text
  background-color: white
  .title
    font-weight: lighter
    font-family: "Raleway", sans-serif
    display: block
    background-color: $compliment
    padding: 15px
    color: $theme
    text-align: center
    margin: 0 auto
  p
    font-size: 1.1em


.intro
  p
    margin: 15px auto
    font-size: 1.6em

.abt-body
  margin-top: 100px
  padding-bottom: 100px
  font-family: "Carme", sans-serif
  background-color: white

.exp-about
  width: 400px
  display: inline-block
  h2
    font-family: "Raleway", sans-serif
  h3
    font-family: "Raleway", sans-serif
    color: #666666

.example
  width: 450px
  height: 500px
  display: inline-block
  position: relative
  margin: 10px auto
  vertical-align: middle
  text-align: left
  p
    width: 400px
    margin: 10px auto
  h2
    text-align: center
  .img-container
    width: 450px
    display: block
    position: relative
    margin: 0 auto
    text-align: center
  img
    max-width: 100%
    text-align: center
    vertical-align: middle
    display: inline-block
    max-height: 300px
    position: relative
    margin: 0 auto

#explanation
  width: 600px
  margin: 0 auto
  display: block
  padding: 10px

.footer
  background-color: white
  text-align: center
  color: $text
  height: 50px
  padding: 10px
  a
    color: $text
  h3
    display: inline-block
    margin-left: 20px
  img
    margin-right: 20px

.langs
  display: block
  margin: 0 auto
  color: white
  padding: 10px
  .lang
    background-color: $compliment
    padding: 15px
    border-radius: 5px
    color: $theme
    font-weight: bold
    font-size: 1.2em
    width: 100px
    display: inline-block


