body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #123040;
}

body a {
    color: #123040;
}

.header {
    margin-right: 0;
    margin-top: 0;
    padding: 2px;
    height: 50px;
    background-color: #42b0ea;
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
}

.header-left {
    float: left;
    display: inline-block;
    position: relative;
}

.header-right {
    float: right;
    display: inline-block;
    position: relative;
}

.highlights {
    padding: 35px;
    margin: 0 auto;
    display: block;
    text-align: center;
    position: relative;
    background-color: rgb(117, 255, 196);
    color: #123040;
    height: 300px;
}
.highlights .title {
    height: 50px;
    width: 33%;
    float: left;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    transition: 1s;
}

.highlights .description {
    float: right;
    width: 33%;
}

.highlights img {
    text-align: center;
    max-width: 33%;
    vertical-align: middle;
    display: inline-block;
    max-height: 300px;
}

.content .about {
    text-align: center;
}

.about {
    display: block;
    padding: 10px;
}

.about-content {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
}

.example {
    width: 450px;
    height: 500px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    text-align: left;
    background-color: white;
    color: black;
    padding: 20px;
    vertical-align: middle;
}

.example .img-container {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.example img {
    text-align: center;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    max-height: 300px;
    position: relative;
    margin: 0 auto;
}

.example a {
    font-weight: bold;
}

.about h1 {
    padding: 10px;
    width: 600px;
    margin: 10px auto;
}

.footer {
    background-color: #42b0ea;
    text-align: center;
    color: white;
}

.footer img {
    margin-right: 20px;
}

.footer h3 a {
    color: white;
}

.footer h3 {
    margin-left: 20px;
    color: white;
    display: inline-block;
}

.examples-title {
    border: 2px solid #00b600;!important;
    color: #00b600;
}

.art-title {
    border: 2px solid #d42014;!important;
    color: #d42014;
}

.me-title {
    border: 2px solid #ea9702;
    color: #ea9702;
}

.me p{
    font-size: 1.5em;
}

#explanation {
    display: block;
    width: 600px;
    font-size: 1.4em;
    text-align: left;
    margin: 0 auto;
}

canvas {
    border: 1px solid #123040;
    display: block;
    margin: 10px auto;
}

