body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: "Hind", sans-serif; }
  body a {
    color: #002234; }

#name {
  font-weight: lighter;
  font-size: 5em;
  font-family: "Raleway", sans-serif; }

.cloud {
  position: absolute; }

.header {
  color: #002234;
  margin-top: 0;
  height: 60px;
  padding: 2px;
  background-color: white; }
  .header a {
    color: #002234;
    text-decoration: none; }
  .header .header-left {
    float: left;
    display: inline-block;
    position: relative;
    margin: 0; }
  .header .header-right {
    float: right;
    display: inline-block;
    position: relative;
    margin: 0; }

.content {
  margin: 0;
  padding: 0; }

.highlights {
  background-color: white;
  margin: 0;
  padding: 30px;
  color: #002234;
  text-align: center; }
  .highlights h1 {
    font-size: 2em;
    text-align: center; }
  .highlights p {
    font-size: 1.5em; }

.content-body {
  width: 50%;
  display: block;
  box-shadow: 2px 10px 20px 1px gray;
  margin: 0 auto 20px; }

.intro p {
  width: 750px;
  margin: 15px auto;
  font-size: 1.3em; }

.skills {
  background-color: white; }
  .skills p {
    text-align: left;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-size: 1.7em; }

.examples {
  color: #1b5f6d; }

.art {
  color: #295461; }

.projects {
  background-color: white;
  padding: 0; }
  .projects .tagline {
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto; }
  .projects a {
    text-decoration: none;
    margin: 0;
    display: inline-block;
    position: relative; }
  .projects .project {
    width: 400px;
    height: 450px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 20px; }
    .projects .project h2 {
      color: #002234;
      border-bottom: 3px solid #1987c6;
      padding: 5px;
      margin-top: 0; }
    .projects .project .project-img {
      max-width: 200px;
      max-height: 200px; }
    .projects .project .proj-desc {
      text-align: left;
      width: 380px;
      margin: 0 auto;
      padding: 10px; }

.about {
  margin: 0 auto;
  display: block;
  text-align: center;
  color: #002234;
  background-color: white; }
  .about .title {
    font-family: "Carme", sans-serif;
    display: block;
    background-color: #1987c6;
    padding: 15px;
    color: white;
    text-align: center;
    margin: 0 auto; }

.abt-body {
  margin-top: 100px;
  padding-bottom: 100px;
  font-family: "Hind", sans-serif;
  background-color: white; }

.exp-about {
  width: 400px;
  display: inline-block; }

.example {
  width: 450px;
  height: 500px;
  display: inline-block;
  position: relative;
  margin: 10px auto;
  vertical-align: middle;
  text-align: left;
  border: 1px solid lightgray; }
  .example p {
    width: 400px;
    margin: 0 auto; }
  .example h2 {
    text-align: center;
    border-bottom: 3px solid lightgray; }
  .example .img-container {
    width: 450px;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center; }
  .example img {
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    max-height: 300px;
    position: relative;
    margin: 0 auto; }

#explanation {
  width: 600px;
  margin: 0 auto;
  display: block; }

.footer {
  background-color: white;
  text-align: center;
  color: #002234;
  height: 50px;
  padding: 10px; }
  .footer a {
    color: #002234; }
  .footer h3 {
    display: inline-block;
    margin-left: 20px; }
  .footer img {
    margin-right: 20px; }

.langs {
  display: block;
  margin: 0 auto;
  color: white;
  padding: 10px; }
  .langs .lang {
    background-color: #3fbb46;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    width: 100px;
    display: inline-block; }

/*# sourceMappingURL=main.css.map */
